@page "~/error"
@model ErrorModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Algo de errado aconteceu no processamento da requisição.</h2>

<p>
    <strong>Erro:</strong> <code>@Model.Message</code>
</p>
