@page "~/search"
@model PowerDictionary.Web.Pages.Search

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Pesquisa";
}

<div class="text-center">
    <h1>Palavra pesquisada: @Model.SearchedWord</h1>
</div>